<!-- This is the about page for the website. -->
{% extends "base.html" %}

<!-- This block will be displayed in the content block of the layout.html file -->
{% block content %}

<!-- Header for the about page -->
<h1>Exam 1</h1>

<!--line break in text -->
<br>

<!--image content that will be displayed on the page -->
<img src="{{ url_for('static', filename='assets/number 1 Fan-Dallase.jpg') }}"
     alt="Sharon German Westfield No. 1 Cowboys Fan" width="500
"/>




<!-- end the block content -->

{% endblock %}
