<!-- This is the index.html file that will be rendered when the user visits the home page of the website. -->
{% extends "base.html" %}

<!-- This block will be displayed in the content block of the layout.html file -->
{% block content %}

    <!-- Specifies the character encoding for the HTML document -->
    <meta charset="UTF-8">
    <!-- Title of the HTML document -->
<title>Sharon German Westfield's Website</title>

    <!--line break in text -->
    <br>

    <!--image content that will be displayed on the page -->
<img src="{{ url_for('static', filename='assets/number 1 Fan-Dallase.jpg') }}"
     alt="Sharon German Westfield No. 1 Cowboys Fan" width="500
"/>

<!--end the block content -->

{% endblock %}